---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh]  bg-cover bg-no-repeat flex flex-wrap items-start" style="background-image: url('/images/dumpster-bg.png');"
  >
    <Nav />
   

        <div data-aos="fade-up" data-aos-duration="800"
          class="md:px-20  px-4 flex flex-col  w-full flex-1 items-center justify-center tracking-widest "
        >
            <h1 class="font-urbaneRounded-medium text-center text-5xl md:text-7xl   text-[#89d232] mb-1">
              CARPET CLEANING
            </h1>
            <p class="font-urbaneRounded-light text-center text-2xl md:text-3xl max-w-[560px] grid text-white my-6 leading-10 uppercase">
                Revitalize Your Carpets with
Eco Clean’s Expert Touch


                


            </p>
          
        
        </div>
    
   
  </main>

  <section class="pt-10 pb-8 px-8 md:pt-28 md:pb-20 md:px-20 lg:px-44 flex flex-col gap-4">
    <div class="flex-1 mt-5 md:mt-0 flex flex-col-reverse md:flex-row gap-4">
<div class="flex-1" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">

    <p class="text-[#85cd32] font-urbaneRounded-medium mb-10">
        GREEN CARPET CARE, HUNTINGTON BEACH, CA


      </p>
      <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[520px]  text-[#1d6292]  mb-10">REVIVING THREADS:
        ECO CLEAN’S
        CARPET MASTERY
        </h3>
      <p class="font-degular-semibold max-w-[460px]  text-xl mb-10">Getting Deeper into Fabric Care: Experience Our Green Cleaning That Transforms Your Carpets, Incorporating Advanced Eco-Friendly Methods for Unmatched Freshness and Longevity

      </p>
</div>
         
<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="flex-1 flex flex-col gap-8 md:gap-14">
    <img src="/images/dumpster-2.png" class="w-full" />
   
</div>
    </div>
    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <p class="font-urbaneRounded-medium  text-lg">
            Step into a world where your carpets are not just cleaned but revitalized. Eco Clean’s carpet cleaning services merge the best of eco-friendly practices with advanced cleaning technology, ensuring your carpets are liberated from dirt, allergens, and stains. Our commitment to sustainability is reflected in our use of only the safest, most effective products, which protect your health and the environment while delivering outstanding results.
<br/>
<br/>
Our process is comprehensive, tailored to the specific fabric and condition of your carpet. We employ various cleaning methods, including steam cleaning, dry cleaning, and encapsulation, to ensure the most effective treatment for your carpet type. Steam cleaning, or hot water extraction, penetrates deep into carpet fibers to remove stubborn dirt and allergens, while dry cleaning is ideal for more delicate fibers or quicker drying times. Encapsulation uses a low-moisture process that traps and removes dirt, making it suitable for high-traffic areas and maintenance cleanings.
<br/>
<br/>

From the deep pile to the delicate weave, our experts meticulously treat every inch of your carpet, ensuring no spot is overlooked. We believe in a comprehensive clean that delves beyond the surface, targeting the unseen pollutants and allergens nestled deep within the fibers. This approach not only revitalizes the appearance of your carpets but also promotes a healthier living and working environment, extending the life and beauty of your carpets.
        </p>
    </div>
  </section>
  <section
  class="md:px-20 lg:px-44 px-8 md:pt-32 md:pb-28 pt-16 pb-12 text-white text-center bg-[url('/images/bg-pattern-2.jpg')] bg-cover bg-no-repeat "
>
  
  <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="text-4xl md:text-6xl   font-degular-medium mb-7">BOOK YOUR SERVICE NOW!</h2>
  <div class="w-full flex justify-center items-center ">
    <Button
      text="REQUEST A QUOTE"
      link="quote"
      classes="text-white py-3 px-11 border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
    />
  </div>
</section>
  

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5] " >
    <p class="text-[#85cd32] font-urbaneRounded-medium" data-aos="fade-right" data-aos-duration="600">
        NON-TOXIC CARPET WASH, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1d6292] font-degular-medium mb-2" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">WHY CHOOSE ECO CLEAN</h2>
    <p class="font-urbaneRounded-medium mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        Discover the Eco Clean Difference: Where Advanced Techniques Meet Eco-Friendly Carpet Cleaning, Blending Innovative Solutions with Environmental Stewardship for Optimal Results
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between ">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100' class="min-h-[100%]" >

        <Card classes="min-h-[100%]"
          image="/images/dumpster-3.png"
          title="Eco-Friendly at Heart"
          description="We passionately pursue eco-friendly practices, using products and methods that are safe for the planet. Our cleaning solutions are biodegradable, non-toxic, and proven effective, ensuring a clean that contributes to a healthier ecosystem. This dedication to green cleaning reduces your carbon footprint and supports a sustainable future, all while delivering exceptional cleanliness to your carpets."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200' class="min-h-[100%]" >
     

        <Card classes="min-h-[100%]"
          image="/images/dumpster-4.png"
          title="Advanced Technology"
          description="Our investment in the latest cleaning technology means we offer superior cleaning efficiency and results. We can tackle the toughest stains and dirt, leaving your carpets looking and feeling fresh, without compromising on environmental values. Our advanced equipment not only cleans more effectively but also reduces water usage and drying time, enhancing the overall efficiency of the cleaning process."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >


        <Card classes="min-h-[100%]"
          image="/images/dumpster-5.png"
          title="Customized Care"
          description="Understanding that each carpet has its own story and needs, we tailor our cleaning process to match. We consider your carpet’s material, age, and condition, applying the most suitable cleaning method to extend its life and beauty. This personalized approach ensures that every fiber of your carpet receives exactly the treatment it needs, preserving its quality and appearance for years to come."
        />
      </div>
    </div>
  </section>






  <div class="bg-[url('/images/dumpster-6.png')] w-full  md:-mt-48  bg-fixed bg-cover bg-center bg-no-repeat ">
    <section
    class="space-y-8 md:px-20 lg:px-44 px-8   pb-16 pt-16 md:pt-48 text-center text-white  "
  >
    <div class="p-4 md:p-8 text-center flex flex-col items-center ">
      <p class="font-urbaneRounded-medium mb-6">ECO CARPET MAINTENANCE, HUNTINGTON BEACH, CA      </p>
      <h2 class="text-4xl md:text-6xl  font-degular-medium max-w-[800px] text-center md:leading-[4rem] mb-8">
        REVIVE YOUR CARPETS WITH ECO CLEAN’S TOUCH



      </h2>
      <p class="font-urbaneRounded-light max-w-[1100px]">
        Step into a world where your carpets are not only cleaned but also cared for with the utmost respect for the environment and your well-being. Eco Clean offers a carpet cleaning experience that goes beyond the conventional, blending eco-friendly practices with cutting-edge technology for unmatched results. Say goodbye to dirt, allergens, and stains, and hello to fresh, revitalized carpets. Choose Eco Clean today and make a step towards a healthier, cleaner, and greener living space.




      </p>
    </div>
    <div class="w-full flex justify-center items-center ">
      <Button
        text="REQUEST A QUOTE"
        link="quote"
        classes="text-white border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
      />
    </div>
  </section>
  </div>




  <section class="pb-10 px-10 mt-20 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <img src="/images/dumpster-7.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="CONTACT US"
        link="/services"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>

    <div class="flex-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">

        <p class="text-[#85cd32] font-urbaneRounded-medium mb-8">
            ENVIRONMENTALLY SAFE CARPET CARE, HUNTINGTON BEACH, CA


          </p>
          <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[560px]  text-[#1d6292]   mb-8">ECO CLEAN’S CARPET CLEANING JOURNEY



          </h3>
          <p class="font-degular-semibold max-w-[500px]  text-xl mb-8 ">A Tailored Cleaning Journey for Your Carpets:<br/> Comprehensive Assessment Leading to Thorough Renewal and Revitalization, Reflecting Our Commitment to Excellence and Customized Care



          </p>
            <p class="font-urbaneRounded-medium  max-w-[520px]">
                Our journey begins with an in-depth assessment of your carpets, considering factors like traffic patterns, material type, and existing conditions. This analysis allows us to customize our approach, choosing the most effective and gentle cleaning methods. Our state-of-the-art equipment then goes to work, gently agitating the fibers to release and lift away dirt and debris. Post-cleaning, we focus on rapid drying and fluffing, ensuring your carpets are not only clean but also fresh and inviting. The result is a carpet that not only looks and feels great but also contributes to a cleaner, more sustainable environment. Whether it’s a cozy residential space or a bustling commercial area, Eco Clean delivers a carpet cleaning solution that meets your needs and exceeds your expectations.




            </p>
    </div>
    
  </section>

  <!-- FAQ Section -->
  <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#85cd32] font-urbaneRounded-medium mb-4">RENEWABLE CARPET SOLUTIONS, HUNTINGTON BEACH, CA </p>
      <h2 class=" text-[#1d6292] font-degular-medium text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-medium max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
      <FAQ
        question="How does Eco Clean ensure its cleaning practices are eco-friendly?"
        answer="Eco Clean commits to sustainability by using environmentally safe cleaning products, employing energy-efficient methods, and adhering to waste-reduction practices. We continuously research and implement the latest green cleaning technologies to ensure our services are both effective and eco-conscious."
      />
      <FAQ
        question="Can Eco Clean handle specialized cleaning requests, like allergy-sensitive environments?"
        answer="Yes, we are well-equipped to manage specialized cleaning needs, including allergy-sensitive environments. Our team uses hypoallergenic and non-toxic cleaning agents to ensure a safe, clean space for everyone, particularly those with allergies or sensitivities."
      />
      <FAQ
        question="What is the process for scheduling a cleaning service with Eco Clean?"
        answer="Scheduling with Eco Clean is simple and convenient. You can contact us via our website, phone, or email to discuss your cleaning needs. We will then provide a tailored service plan and schedule a cleaning session that suits your timeline and preferences."
      />
      <FAQ
        question="Does Eco Clean offer any guarantee for its cleaning services?"
        answer="Absolutely! We stand behind the quality of our work with a satisfaction guarantee. If you’re not completely happy with our cleaning services, let us know, and we will make it right. Our priority is your satisfaction and building a long-term relationship with our clients."
      />
    
    </div>
  </section>


  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
