---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh]  bg-cover bg-no-repeat flex flex-wrap items-start" style="background-image: url('/images/floor-bg.png');"
  >
    <Nav />
   

        <div data-aos="fade-up" data-aos-duration="800"
          class="md:px-20  px-4 flex flex-col  w-full flex-1 items-center justify-center tracking-widest "
        >
            <h1 class="font-urbaneRounded-medium text-center text-5xl md:text-7xl   text-[#89d232] mb-1">
                INDUSTRIAL FLOOR CLEANING
            </h1>
            <p class="font-urbaneRounded-light text-center text-2xl md:text-3xl max-w-[800px] grid text-white my-6 leading-10 uppercase">
                Elevate the Standard of Cleanliness in Your Industrial Space
            </p>
          
        
        </div>
    
   
  </main>

  <section class="pt-10 pb-8 px-8 md:pt-28 md:pb-20 md:px-20 lg:px-44 flex flex-col gap-4">
    <div class="flex-1 mt-5 md:mt-0 flex flex-col-reverse md:flex-row gap-4">
<div class="flex-1" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">

    <p class="text-[#89D232] font-urbaneRounded-light mb-10">
        SUSTAINABLE FLOOR SOLUTIONS, HUNTINGTON BEACH, CA


      </p>
      <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[480px]  text-[#1d6292]  mb-10">INDUSTRIAL FLOOR CLEANING REVOLUTIONIZED        :
        
        </h3>
      <p class="font-degular-semibold max-w-[600px]  text-xl mb-10">Bridging Durability with Sustainability: Customized Industrial Floor Cleaning for Uncompromised Excellence, Tailoring Advanced Solutions to Meet the Rigorous Demands of Industrial Environments
      </p>
</div>
         
<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="flex-1 flex flex-col gap-8 md:gap-14">
    <img src="/images/floor-2.png" class="w-full" />
   
</div>
    </div>
    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <p class="font-urbaneRounded-medium  text-lg">
            Eco Clean is at the forefront of redefining industrial floor cleaning, blending cutting-edge technology with sustainable practices to achieve an unmatched level of cleanliness and durability. Our services are tailored to the rigorous demands of industrial environments, ensuring floors withstand heavy traffic and spills while retaining a pristine appearance.
<br>
<br>    
We utilize advanced industrial floor cleaning equipment, such as automatic scrubbers, sweepers, and high-pressure washers, tailored to the needs of each space. These machines effectively remove dirt, oil, and residues, while our eco-friendly cleaning solutions minimize environmental impact. Techniques like deep scrubbing, sealing, and protective coating applications are employed to enhance floor durability and safety.
<br>
<br>
Our approach is comprehensive, addressing the unique challenges of industrial settings, from manufacturing plants to warehouses. By focusing on high wear and potential hazard areas, we prevent accidents and extend the flooring's life, contributing to a healthier, safer workplace.
<br>
<br>
Partnering with Eco Clean means gaining an ally in maintaining your industrial floors' operational integrity and aesthetic value, ensuring a clean, safe, and efficient workspace.
    </div>
  </section>
  <section
  class="md:px-20 lg:px-44 px-8 md:pt-32 md:pb-28 pt-16 pb-12 text-white text-center bg-[url('/images/bg-pattern-2.jpg')] bg-cover bg-no-repeat "
>
  
  <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="text-4xl md:text-6xl   font-degular-medium mb-7">CONTACT ECO CLEAN FOR A CONSULTATION TODAY!</h2>
  <div class="w-full flex justify-center items-center ">
    <Button
      text="REQUEST A QUOTE"
      link="quote"
      classes="text-white py-3 px-11 border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
    />
  </div>
</section>
  

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5] " >
    <p class="text-[#89D232] font-urbaneRounded-light mb-4" data-aos="fade-right" data-aos-duration="600">
        ECO-FRIENDLY INDUSTRIAL CLEANING, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1d6292] max-w-[900px] font-degular-medium mb-5" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">WHY ECO CLEAN FOR INDUSTRIAL
        FLOOR CLEANING?
        </h2>
    <p class="font-urbaneRounded-medium mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        Achieving Optimal Performance with Sustainable Practices: Discover Why Eco Clean is at the Forefront of Industrial Floor Care, Integrating Eco-Friendly Innovations with Industry-Leading Expertise
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between ">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100' class="min-h-[100%]" >

        <Card classes="min-h-[100%]"
          image="/images/floor-3.png"
          title="Heavy-duty Cleaning Power"
          description="At Eco Clean, we deploy industrial-grade equipment and cleaning agents, meticulously engineered to combat the intense stains, grease, and grime inherent to industrial environments. Our robust cleaning solutions delve deep into the surface layers, effectively eradicating contaminants and reviving the appearance and functionality of your floors. This intense cleaning power not only restores but also protects your floors against future degradation, ensuring they remain resilient against the rigors of industrial activity."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200' class="min-h-[100%]" >
     

        <Card classes="min-h-[100%]"
          image="/images/floor-4.png"
          title="Customized Cleaning Strategies"
          description="Recognizing the diversity of industrial spaces, Eco Clean formulates bespoke cleaning plans tailored to the specific needs of each site. We conduct a thorough analysis of your floor type, operational dynamics, and maintenance requirements to devise a cleaning strategy that optimizes both efficiency and effectiveness. This tailored approach ensures that every square inch of your facility receives the precise care it needs, enhancing both aesthetics and operational longevity."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >


        <Card classes="min-h-[100%]"
          image="/images/floor-5.png"
          title="Sustainable Practices"
          description="Eco Clean’s commitment to environmental stewardship is unwavering, especially within the challenging scope of industrial cleaning. We leverage eco-friendly cleaning products and methods that deliver impeccable cleanliness while safeguarding the health of your workplace and the broader environment. Our sustainable practices are designed to minimize ecological impact without sacrificing the high-quality results your industrial space demands."
        />
      </div>
    </div>
  </section>






  <div class="bg-[url('/images/floor-6.png')] w-full  md:-mt-48  bg-fixed bg-cover bg-center bg-no-repeat ">
    <section
    class="space-y-8 md:px-20 lg:px-44 px-8   pb-16 pt-16 md:pt-48 text-center text-white  "
  >
    <div class="p-4 md:p-8 text-center flex flex-col items-center ">
      <p class="font-urbaneRounded-light mb-6">RENEWABLE FLOOR MAINTENANCE, HUNTINGTON BEACH, CA
    </p>
      <h2 class="text-4xl md:text-6xl  font-degular-medium max-w-[1080px] text-center md:leading-[4rem] mb-8">
        READY TO TRANSFORM YOUR INDUSTRIAL FLOORS?



      </h2>
      <p class="font-urbaneRounded-light max-w-[1100px]">
        Elevate the cleanliness and durability of your industrial floors with Eco Clean. Our expert team, equipped with the best in eco-friendly solutions and technology, is ready to transform your space into a model of efficiency and sustainability. Don't let dirt and wear compromise the safety and appearance of your industrial environment. Contact Eco Clean today to schedule a consultation and discover how our tailored industrial floor cleaning services can make a difference in your facility.





      </p>
    </div>
    <div class="w-full flex justify-center items-center ">
      <Button
        text="REQUEST A QUOTE"
        link="quote"
        classes="text-white border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
      />
    </div>
  </section>
  </div>




  <section class="pb-10 px-10 mt-20 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <img src="/images/floor-7.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="REQUEST A QUOTE"
        link="quote"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>

    <div class="flex-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">

        <p class="text-[#89D232] font-urbaneRounded-light mb-8">
            ENVIRONMENTALLY SAFE INDUSTRIAL CARE, HUNTINGTON BEACH, CA


          </p>
          <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[620px]  text-[#1d6292]   mb-8">OUR INDUSTRIAL FLOOR CLEANING PROCESS
          </h3>
          <p class="font-degular-semibold max-w-[700px]  text-xl mb-8 ">A Precision in Every Step: Detailing the Eco Clean Method for Achieving Pristine Industrial Floors, Showcasing Our Commitment to Quality and Sustainable Outcomes in Every Project


          </p>
            <p class="font-urbaneRounded-medium  max-w-[700px]">
                Our process starts with an on-site assessment to understand the specific challenges and needs of your industrial floor. We then deploy our team of trained professionals, equipped with heavy-duty cleaning machinery and eco-friendly cleaning solutions, to efficiently remove dirt, oil, and other industrial residues. Our goal is not just to clean but to enhance the resilience and safety of your flooring, ensuring it continues to perform well under industrial conditions.<br>

Regular maintenance and targeted deep cleaning interventions form the core of our strategy, reducing wear and tear and maintaining the aesthetic and functional quality of your floors. With Eco Clean, you can expect a reliable, thorough, and environmentally responsible cleaning service that keeps your industrial floors in peak condition, supporting the smooth operation of your business.



            </p>
    </div>
    
  </section>

 <!-- FAQ Section -->
 <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#89D232] font-urbaneRounded-light mb-4">SUSTAINABLE COMMERCIAL FLOORING, HUNTINGTON BEACH, CA</p>
      <h2 class=" text-[#1d6292] font-degular-medium text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-medium max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
      <FAQ
        question="How does Eco Clean ensure its cleaning practices are eco-friendly?"
        answer="Eco Clean commits to sustainability by using environmentally safe cleaning products, employing energy-efficient methods, and adhering to waste-reduction practices. We continuously research and implement the latest green cleaning technologies to ensure our services are both effective and eco-conscious."
      />
      <FAQ
        question="Can Eco Clean handle specialized cleaning requests, like allergy-sensitive environments?"
        answer="Yes, we are well-equipped to manage specialized cleaning needs, including allergy-sensitive environments. Our team uses hypoallergenic and non-toxic cleaning agents to ensure a safe, clean space for everyone, particularly those with allergies or sensitivities."
      />
      <FAQ
        question="What is the process for scheduling a cleaning service with Eco Clean?"
        answer="Scheduling with Eco Clean is simple and convenient. You can contact us via our website, phone, or email to discuss your cleaning needs. We will then provide a tailored service plan and schedule a cleaning session that suits your timeline and preferences."
      />
      <FAQ
        question="Does Eco Clean offer any guarantee for its cleaning services?"
        answer="Absolutely! We stand behind the quality of our work with a satisfaction guarantee. If you’re not completely happy with our cleaning services, let us know, and we will make it right. Our priority is your satisfaction and building a long-term relationship with our clients."
      />
    
    </div>
  </section>



  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
