---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Professional Pressure Washing Company in Huntington Beach & Orange County"
  description="For helpful cleaning services and pressure washing in Huntington Beach, call Eco Clean Services Today"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh] bg-[url('/images/bg.jpg')] bg-cover bg-no-repeat flex flex-wrap items-start" style="background-image: url('/images/power-bg.png');"
  >
    <Nav />
   

        <div data-aos="fade-up" data-aos-duration="800"
          class="md:px-20  px-4 flex flex-col  w-full flex-1 items-center justify-center tracking-widest "
        >
            <h1 class="font-urbaneRounded-medium text-center text-5xl md:text-7xl   text-[#89d232] mb-1">
              POWER WASHING
            </h1>
            <p class="font-urbaneRounded-light text-center text-2xl md:text-3xl max-w-[560px] grid text-white my-6 leading-10 uppercase">
                Revitalize Your Surfaces with
                Eco-Friendly Precision
                


            </p>
          
        
        </div>
    
   
  </main>

  <section class="pt-10 pb-8 px-8 md:pt-28 md:pb-20 md:px-20 lg:px-44 flex flex-col gap-4">
    <div class="flex-1 mt-5 md:mt-0 flex flex-col-reverse md:flex-row gap-4">
<div class="flex-1" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">

    <p class="text-[#89D232] font-urbaneRounded-light mb-4 md:mb-10 mt-5 md:mt-0">
        PRESSURE CLEANING SERVICES, HUNTINGTON BEACH, CA
      </p>
      <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[480px]  text-[#1d6292]  mb-3 md:mb-10">POWER WASHING PERFECTION WITH
        ECO CLEAN</h3>
      <p class="font-urbaneRounded-light leading-[26px] max-w-[460px]  md:text-xl mb-3 md:mb-10">Revitalizing Surfaces While Caring for Nature: Our Eco Clean Power Wash Promise Delivers Superior Cleanliness with Environmental Respect, Balancing Effective Results with Ecological Sensitivity</p>
</div>
         
<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="flex-1 flex flex-col gap-8 md:gap-14">
    <img src="/images/power-2.png" class="w-full" />
   
</div>
    </div>
    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <p class="font-urbaneRounded-light leading-[26px]  md:text-lg">Eco Clean’s power washing services offer the ultimate cleaning solution, expertly removing the toughest dirt, grime, and buildup to rejuvenate the beauty and integrity of your property’s exterior. Our eco-conscious approach combines advanced cleaning methods with environmentally sustainable practices, ensuring a comprehensive clean that’s both powerful and planet-friendly. From the cozy nooks of residential homes to the expansive facades of commercial buildings, we tailor our services to meet the specific needs of each property, ensuring optimal results every time.
            <br/>
            <br/>


            For residential areas, we focus on enhancing curb appeal, carefully treating driveways, sidewalks, siding, and decks to remove unsightly stains and wear, restoring homes to their pristine condition. In commercial spaces, our power washing services are geared towards maintaining a professional and welcoming appearance for clients and employees, with special attention to parking lots, walkways, and building exteriors.
            <br/>
            <br/>
            
            Our team of power washing experts is equipped with the latest technology, capable of eradicating even the most stubborn dirt and grime, ensuring a lasting clean that enhances the visual and structural integrity of your property. By choosing Eco Clean, you invest in a service that values the longevity and health of your assets, embracing a partnership that stands for excellence and eco-responsibility. Let us transform your property with our powerful, sustainable power washing services, creating exteriors that gleam with cleanliness and care.</p>
    </div>
  </section>
  <section
  class="md:px-20 lg:px-44 px-8 md:pt-36 md:pb-28 pt-16 pb-12 text-white text-center bg-[url('/images/bg-pattern-2.jpg')] bg-cover bg-no-repeat "
>
  
  <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="text-4xl md:text-6xl  font-degular-medium mb-7">CONTACT US NOW TO SCHEDULE</h2>
  <div class="w-full flex justify-center items-center ">
    <Button
      text="REQUEST A QUOTE"
      link="/contact"
      classes="text-white py-3 px-11 border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
    />
  </div>
</section>
  

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5] " >
    <p class="text-[#89D232] font-urbaneRounded-light mb-4" data-aos="fade-right" data-aos-duration="600">
        HIGH-PRESSURE ECO CLEANING, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1d6292] font-degular-medium mb-5" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">WHY CHOOSE ECO CLEAN</h2>
    <p class="font-urbaneRounded-light leading-[26px] mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        Experience the Eco Clean Difference: Precision Power Washing Tailored to Your Specific Needs, Delivering Impactful and Lasting Results with a Commitment to Eco-Friendly Practices
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between ">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100' class="min-h-[100%]" >

        <Card classes="min-h-[100%]"
          image="/images/power-3.png"
          title="Eco-Friendly Solutions"
          description="At Eco Clean, we prioritize the health of our planet while delivering knockout results. Our environmentally safe cleaning agents and methods effectively combat dirt and stains without compromising the earth’s well-being. This approach ensures a powerful clean that supports sustainability, aligning with our commitment to ecological responsibility."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200' class="min-h-[100%]" >
     

        <Card classes="min-h-[100%]"
          image="/images/power-4.png"
          title="Advanced Technology"
          description="Leveraging the latest in power washing technology, Eco Clean eradicates stubborn stains, mold, and mildew, rejuvenating your property’s look. Our equipment is designed to deliver high efficiency and effectiveness, ensuring a deep clean that enhances your property's aesthetic and structural integrity."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >


        <Card classes="min-h-[100%]"
          image="/images/power-5.png"
          title="Expertise in Action"
          description="Our technicians are more than cleaners; they're trained professionals who understand the nuances of power washing. With expertise in various surfaces and environments, they assess and implement the best cleaning strategies, guaranteeing optimal results. Their skillful execution ensures that every job is done right, with attention to detail and respect for your property."
        />
      </div>
    </div>
  </section>






  <div class="bg-[url('/images/power-6.png')] w-full  md:-mt-48  bg-fixed bg-cover bg-center bg-no-repeat ">
    <section
    class="space-y-8 md:px-20 lg:px-44 px-8   pb-16 pt-16 md:pt-48 text-center text-white  "
  >
    <div class="p-4 md:p-8 text-center flex flex-col items-center ">
      <p class="font-urbaneRounded-medium mb-6">BIODEGRADABLE CLEANING SOLUTIONS, HUNTINGTON BEACH, CA</p>
      <h2 class="text-4xl md:text-6xl  font-degular-medium max-w-[800px] text-center md:leading-[4rem] mb-8">
        LET’S MAKE YOUR PROPERTY SHINE

      </h2>
      <p class="font-urbaneRounded-light leading-[26px] max-w-[1100px]">
        Ready to transform your exterior spaces with powerful, eco-friendly cleaning? Contact Eco Clean today for a consultation and see how our power washing services can make your property look its best. It’s time to give your surfaces the clean they deserve and the protection they need to withstand the elements and time.


      </p>
    </div>
    <div class="w-full flex justify-center items-center ">
      <Button
        text="REQUEST A QUOTE"
        link="/contact"
        classes="text-white border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
      />
    </div>
  </section>
  </div>




  <section class="pb-10 px-10 mt-20 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">
        <img src="/images/power-7.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="CONTACT US"
        link="/contact"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>

    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="50" class="flex-1">

        <p class="text-[#89D232] font-urbaneRounded-light mb-4 md:mb-8">
            ENVIRONMENTALLY SAFE WASHING, HUNTINGTON BEACH, CA
          </p>
          <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[560px]  text-[#1d6292] mb-4 md:mb-8">OUR POWER WASHING SERVICES


          </h3>
          <p class="font-urbaneRounded-light leading-[26px] max-w-[500px]  md:text-xl mb-4 md:mb-8 ">Extensive Power Washing Services Spanning from Residential Homes to City Streets, Guaranteeing Thorough Cleanliness with a Sustainable Approach, Reflecting Our Dedication to Environmental Excellence

          </p>
            <p class="font-urbaneRounded-light leading-[26px]  max-w-[520px]">
                Our power washing services at Eco Clean encompass a wide range of applications, ensuring every corner of your property shines with cleanliness and care. In the residential realm, we specialize in transforming home exteriors, where years of accumulated dirt and discoloration meet their match against our powerful cleaning methods. Siding, roofs, and garages receive a thorough cleanse, significantly enhancing your home’s curb appeal and overall aesthetic. In the commercial sector, our expertise extends to facades that demand a professional and immaculate appearance. We help businesses convey quality and attention to detail through spotless exteriors, from brick walls to glass windows. Furthermore, our service portfolio includes the meticulous cleaning of concrete and asphalt surfaces, such as parking lots, driveways, and walkways, where we remove hazards and restore aesthetic appeal. Decks and patios also benefit from our refresh services, where we eliminate grime and weather-related wear, revitalizing these outdoor living spaces for enjoyment and relaxation.


            </p>
    </div>
    
  </section>

  <!-- FAQ Section -->
  <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#89D232] font-urbaneRounded-light mb-4">SUSTAINABLE HIGH-PRESSURE WASH, HUNTINGTON BEACH, CA </p>
      <h2 class=" text-[#1d6292] font-degular-medium text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-light leading-[26px] max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
      <FAQ
        question="Is power washing safe for all types of exterior surfaces?"
        answer="Yes, power washing can be safely performed on a variety of exterior surfaces. At Eco Clean, we assess the material and condition of each surface to determine the most appropriate pressure and cleaning solution, ensuring no damage is done while achieving optimal cleanliness."
      />
      <FAQ
        question="How often should I have my property power washed?"
        answer="The frequency depends on the location, usage, and exposure to elements. Generally, it’s recommended to power wash your property at least once a year to maintain its appearance and prevent buildup. However, more frequent cleaning may be necessary for high-traffic or heavily soiled areas."
      />
      <FAQ
        question="Can power washing remove all types of stains?"
        answer="Power washing is highly effective at removing a wide range of stains, including dirt, mold, mildew, and algae. While it can tackle most stains, the success rate may vary depending on the stain's age, type, and the surface material. Our team employs specialized techniques and solutions to address stubborn stains."
      />
    
      <FAQ
        question="Will power washing increase the value of my property?"
        answer="Absolutely. Power washing can significantly enhance the curb appeal and overall condition of your property, potentially increasing its market value. A clean, well-maintained exterior is more attractive to potential buyers or tenants and can contribute to a positive first impression."
      />
    
    </div>
  </section>


  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
