---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh] bg-[url('/images/bg.jpg')] bg-cover bg-no-repeat flex flex-wrap items-start" style="background-image: url('/images/sofa-bg.png');"
  >
    <Nav />
   

        <div data-aos="fade-up" data-aos-duration="800"
          class="md:px-20  px-4 flex flex-col  w-full flex-1 items-center justify-center tracking-widest "
        >
            <h1 class="font-urbaneRounded-medium text-center text-5xl md:text-7xl   text-[#89d232] mb-1">
              SOFA CLEANING
            </h1>
            <p class="font-urbaneRounded-light text-center text-2xl md:text-3xl max-w-[650px] grid text-white my-6 leading-10 uppercase">
                Refresh, Rejuvenate, and Restore with Eco Clean
            </p>
        </div>
  </main>

  <section class="pt-10 pb-8 px-8 md:pt-28 md:pb-20 md:px-20 lg:px-44 flex flex-col gap-4">
    <div class="flex-1 mt-5 md:mt-0 flex flex-col-reverse md:flex-row gap-4">
<div class="flex-1" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">

    <p class="text-[#89D232] font-urbaneRounded-light mb-10">
        ECO UPHOLSTERY CLEANERS, HUNTINGTON BEACH, CA
      </p>
      <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[520px]  text-[#1d6292]  mb-10">SOFA CLEANING MASTERY
        </h3>
      <p class="font-urbaneRounded-light leading-[26px] max-w-[460px]  text-xl mb-10">Revitalize Your Living Spaces: Our Expert, Eco-Conscious Approach Transforms Your Sofas and Upholstery, Infusing New Life and Freshness into Every Fiber with Sustainable Practices
      </p>
</div>
         
<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="flex-1 flex flex-col gap-8 md:gap-14">
    <img src="/images/sofa-2.png" class="w-full" />
   
</div>
    </div>
    <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <p class="font-urbaneRounded-light leading-[26px]  text-lg">
            Discover the ultimate sofa cleaning experience with Eco Clean, where precision, care, and environmental responsibility converge to transform your furniture. Our sofa cleaning services are crafted to breathe new life into your cherished pieces, converting your living areas into sanctuaries of cleanliness and tranquility. Integrating eco-friendly cleaning solutions with meticulous techniques, we effectively eliminate dirt, stains, and allergens, ensuring your sofa is not only visually impeccable but also a beacon of health in your home.
<br/>
<br/>
            Our comprehensive process is attentive and meticulous, tailored to accommodate various types of sofas, including fabric, leather, synthetic, and mixed materials. For fabric sofas, we use gentle, yet effective cleaning agents that remove stains and odors while preserving the material's color and texture. Leather sofas receive special treatment with conditioners and protectants that clean, nourish, and restore their natural resilience and sheen. Synthetic and mixed material sofas benefit from our customized approach that combines the right balance of cleaning strength and fabric care, ensuring durability and aesthetic appeal.
<br/>
<br/>
            
            In focusing on the integrity and beauty of your sofa's material, we enhance its overall comfort and longevity. We immerse ourselves in the fabric of your lifestyle, recognizing the role of a clean, inviting sofa in your daily relaxation and social interactions. With Eco Clean, your sofa transcends its function as a piece of furniture to become a revitalized centerpiece of your home, contributing to a cleaner, more sustainable environment for you and your loved ones.
        </p>
    </div>
  </section>
  <section
  class="md:px-20 lg:px-44 px-8 md:pt-32 md:pb-28 pt-16 pb-12 text-white text-center bg-[url('/images/bg-pattern-2.jpg')] bg-cover bg-no-repeat "
>
  
  <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="text-4xl md:text-6xl   font-degular-medium mb-7 uppercase">Refresh your sofa today</h2>
  <div class="w-full flex justify-center items-center ">
    <Button
      text="REQUEST A QUOTE"
      link="/contact"
      classes="text-white py-3 px-11 border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
    />
  </div>
</section>
  

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5] " >
    <p class="text-[#89D232] font-urbaneRounded-light mb-4" data-aos="fade-right" data-aos-duration="600">
        BIODEGRADABLE UPHOLSTERY SOLUTIONS, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1d6292] font-degular-medium mb-5" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">WHY CHOOSE US FOR SOFA CLEANING?</h2>
    <p class="font-urbaneRounded-light leading-[26px] mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        Crafting Cleanliness with Dedication: Our Eco Clean Promise Delivers Pristine and Caring Solutions for Your Sofa, Ensuring Every Detail is Addressed with Precision and Eco-Friendly Care
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between ">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100' class="min-h-[100%]" >

        <Card classes="min-h-[100%]"
          image="/images/sofa-3.png"
          title="Expertise in Fabric Care"
          description="At Eco Clean, we don’t just clean sofas; we nurture them. Our professionals are adept in handling a wide array of sofa materials, from the plushiest velvets to the most robust synthetics. We provide targeted care that respects the fabric's integrity, ensuring thorough cleaning without any risk of damage. This expertise means your sofa’s color, texture, and structure remain impeccable, extending its life and enhancing its appearance."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200' class="min-h-[100%]" >
     

        <Card classes="min-h-[100%]"
          image="/images/sofa-4.png"
          title="Attention to Detail"
          description="Eco Clean is synonymous with meticulousness. Our cleaning process is exhaustive, covering every inch of your sofa, including those often neglected, hard-to-reach areas. We ensure every fold and crevice is attended to, leaving your sofa thoroughly cleaned, refreshed, and revitalized. Our attention to detail means we don’t just clean; we restore the original beauty and comfort of your furniture."
        />
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >


        <Card classes="min-h-[100%]"
          image="/images/sofa-5.png"
          title="Satisfaction Guaranteed"
          description="Your satisfaction is the cornerstone of our service philosophy. At Eco Clean, we strive for perfection in every cleaning task, ensuring the results meet both your expectations and our rigorous standards. We're committed to providing a sofa cleaning experience that delights you, backed by a guarantee of quality and service excellence."
        />
      </div>
    </div>
  </section>






  <div class="bg-[url('/images/sofa-6.png')] w-full  md:-mt-48  bg-fixed bg-cover bg-center bg-no-repeat ">
    <section
    class="space-y-8 md:px-20 lg:px-44 px-8   pb-16 pt-16 md:pt-48 text-center text-white  "
  >
    <div class="p-4 md:p-8 text-center flex flex-col items-center ">
      <p class="font-urbaneRounded-medium mb-6">ECO SOFA REFRESH, HUNTINGTON BEACH, CA
    </p>
      <h2 class="text-4xl md:text-6xl  font-degular-medium max-w-[1200px] text-center md:leading-[4rem] mb-8">
        REJUVENATE YOUR SOFA WITH ECO CLEAN’S EXPERT CARE
      </h2>
      <p class="font-urbaneRounded-light leading-[26px] max-w-[1100px]">
        Transform your living space with the meticulous touch of Eco Clean’s sofa cleaning services. Our expert team, equipped with eco-friendly solutions, is ready to restore the comfort and aesthetics of your furniture, ensuring a cleaner, healthier environment for you and your family. Embrace the luxury of a freshly cleaned sofa and experience the difference our dedicated care can make. Connect with Eco Clean now to schedule your sofa cleaning and bring a new lease of life to your cherished seating.
      </p>
    </div>
    <div class="w-full flex justify-center items-center ">
      <Button
        text="REQUEST A QUOTE"
        link="/contact"
        classes="text-white border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
      />
    </div>
  </section>
  </div>




  <section class="pb-10 px-10 mt-20 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <img src="/images/sofa-7.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="CONTACT US"
        link="/contact"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>

    <div class="flex-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">

        <p class="text-[#89D232] font-urbaneRounded-light mb-8">
            ORGANIC COUCH CLEANING, HUNTINGTON BEACH, CA


          </p>
          <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[560px]  text-[#1d6292]   mb-8">ECO CLEAN’S SOFA CLEANING PROCESS

          </h3>
          <p class="font-urbaneRounded-light leading-[26px] max-w-[500px]  text-lg mb-8 ">From Initial Assessment to Unmatched Excellence: Experience the Comprehensive Journey of Eco Clean’s Sofa Cleaning Service, Offering a Deep, Thorough Clean Tailored to the Unique Needs of Your Upholstery



          </p>
            <p class="font-urbaneRounded-light leading-[26px]  max-w-[520px]">
                Our journey to refresh your sofa begins with a thorough evaluation of the fabric, condition, and usage patterns. This insight allows us to tailor our cleaning methods, ensuring the best possible care for your furniture. Using advanced equipment and gentle, yet effective, cleaning agents, we meticulously remove dust, stains, and odors, restoring the beauty and comfort of your sofa.
<br/>
<br/>
                In addressing stain removal, our experts apply targeted treatments that effectively dissolve and lift stains from the fabric without causing damage or discoloration. We tackle everything from accidental spills to entrenched marks, employing specific techniques for different types of stains, such as food, ink, grease, or pet accidents, ensuring comprehensive and effective cleaning.
<br/>
<br/>           
                The Eco Clean team possesses not only cleaning prowess but also deep expertise in fabric care. We treat each type of material, from delicate natural fibers to robust synthetic blends, with the appropriate methods and solutions to ensure their integrity and appearance are maintained. After the cleaning process, we apply upholstery protectants that form a barrier against future spills and stains, enhancing the fabric's resistance and prolonging your sofa's pristine condition. Following the cleaning and protection stages, we meticulously dry your sofa, ensuring it is ready for immediate use and inviting you to enjoy a cleaner, fresher, and more inviting living space.
        </p>
    </div>
    
  </section>

  <!-- FAQ Section -->
  <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#89D232] font-urbaneRounded-light mb-4">RENEWABLE FURNITURE CLEANING, HUNTINGTON BEACH, CA </p>
      <h2 class=" text-[#1d6292] font-degular-medium text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-light leading-[26px] max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
      <FAQ
        question="How does Eco Clean ensure its cleaning practices are eco-friendly?"
        answer="Eco Clean commits to sustainability by using environmentally safe cleaning products, employing energy-efficient methods, and adhering to waste-reduction practices. We continuously research and implement the latest green cleaning technologies to ensure our services are both effective and eco-conscious."
      />
      <FAQ
        question="Can Eco Clean handle specialized cleaning requests, like allergy-sensitive environments?"
        answer="Yes, we are well-equipped to manage specialized cleaning needs, including allergy-sensitive environments. Our team uses hypoallergenic and non-toxic cleaning agents to ensure a safe, clean space for everyone, particularly those with allergies or sensitivities."
      />
      <FAQ
        question="What is the process for scheduling a cleaning service with Eco Clean?"
        answer="Scheduling with Eco Clean is simple and convenient. You can contact us via our website, phone, or email to discuss your cleaning needs. We will then provide a tailored service plan and schedule a cleaning session that suits your timeline and preferences."
      />
      <FAQ
        question="Does Eco Clean offer any guarantee for its cleaning services?"
        answer="Absolutely! We stand behind the quality of our work with a satisfaction guarantee. If you’re not completely happy with our cleaning services, let us know, and we will make it right. Our priority is your satisfaction and building a long-term relationship with our clients."
      />
    
    </div>
  </section>


  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
