---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh] min-h-[70vh]  md:max-h-[auto] bg-[url('/images/about-bg.jpg')]  bg-no-repeat bg-[length:76%_100%] flex md:flex-wrap flex-col md:flex-row items-start"
  >
    <Nav />
   

        <div data-aos="fade-right" data-aos-duration="800"
          class="md:px-20 lg:px-44 px-4 flex flex-col md:w-1/2 w-full flex-1 justify-center tracking-widest lg:pt-20 order-3 md:order-1"
        >
          <div class="">
            <h1 class="font-urbaneRounded-medium md:text-7xl text-4xl grid  text-[#268dcb] my-2">
              ABOUT US
            </h1>
            <p class="font-urbaneRounded-medium text-2xl md:text-3xl grid text-[#85cc32] my-6 leading-10 uppercase">
                Eco Clean's Journey and Ethos
            </p>
          </div>
        
        </div>
        <div class="flex-1 order-2 md:pr-16 lg:pr-40">

            <div class="md:w-[100%] h-[60%] mb-3 md:mb-10">
                <img class="w-full" src="/images/img-hero.jpg" />
            </div>
        </div>
   
  </main>

  <section class="pt-10 pb-8 px-8 md:pt-28 md:pb-20 md:px-20 lg:px-44 flex flex-col-reverse md:flex-row gap-4">
    <div class="flex-1 mt-5 md:mt-0">

        <p class="text-[#85cd32] font-urbaneRounded-medium mb-10">
            NON-TOXIC CLEANING TEAM, HUNTINGTON BEACH, CA
          </p>
          <h3 class="font-degular-semibold text-4xl md:text-6xl max-w-[700px]  text-[#1d6292]  mb-10">COMPANY BACKGROUND AND HISTORY</h3>
          <p class="font-degular-semibold max-w-[440px]  text-xl mb-10">Rooted in Community, Propelled by Sustainability:
            The Comprehensive Eco Clean Origin Story and Our Journey to Green Excellence, Embarking on a Path of Eco-Friendly Innovation and Community Transformation</p>
            <p class="font-urbaneRounded-medium  max-w-[500px]">Founded in the heart of Huntington Beach, Eco Clean is the brainchild of three lifelong friends with a shared passion for sustainability and community service. Our journey began as an apprenticeship under a seasoned local businessman, from whom we learned the intricacies of the cleaning industry and the importance of eco-friendly practices. Today, Eco Clean stands as a testament to professional, quality, and environmentally conscious cleaning services, catering to both residential and commercial clients with a wide range of needs.</p>
    </div>
    <div class="flex-1 flex flex-col gap-8 md:gap-14">
        <img src="/images/about-2.jpg" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="SERVICES"
        link="/services"
        classes="md:self-end text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>
  </section>
  

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5]" >
    <p class="text-[#85cd32] mb-6 font-urbaneRounded-medium" data-aos="fade-right" data-aos-duration="600">
      SUSTAINABLE CLEANING SERVICE, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1D6292] font-degular-semibold mb-8" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">FEATURED SERVICES</h2>
    <p class="font-urbaneRounded-medium mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
      Showcasing Our Cleaning Mastery, Detailed Precision in Every Task Elevates
      Your Space with Unmatched Expertise That Distinguishes Us in the Market,
      Ensuring Unrivaled Quality and Service
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between ">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100' class="min-h-[100%]" >
        <a href="/services/carpet-cleaning">

        <Card classes="min-h-[100%]"
          image="/images/about-carpet.png"
          title="Carpet Cleaning"
          description="Dive deep into the fibers of your carpet, where our eco-friendly methods lift away dirt and restore vibrancy."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200' class="min-h-[100%]" >
     
        <a href="/services/sofa-cleaning">

        <Card classes="min-h-[100%]"
          image="/images/about-sofa.png"
          title="Sofa Cleaning"
          description="Blast away grime and restore the original beautRejuvenate your furniture with our gentle, yet effective cleaning techniques that renew fabric and extend its life."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >

        <a href="/services/power-washing">

        <Card classes="min-h-[100%]"
          image="/images/about-power.png"
          title="Power Washing"
          description="Blast away grime and restore the original beauty of your exteriors with our powerful, eco-conscious power washing services."
        />
        </a>
      </div>
    </div>
  </section>

  <section
  class="md:px-20 lg:px-44 px-8 md:pt-36 md:pb-28 pt-16 pb-12 text-white text-center bg-[url('/images/bg-pattern-2.jpg')] bg-cover bg-no-repeat md:-translate-y-32 relative z-0"
>
  
  <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="text-4xl md:text-6xl  font-degular-semibold mb-7">CONNECT WITH ECO CLEAN TODAY</h2>
  <div class="w-full flex justify-center items-center ">
    <Button
      text="REQUEST A QUOTE"
      link="/contact"
      classes="text-white py-3 px-11 border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
    />
  </div>
</section>

<section class="pb-10 px-10 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0">
        <img src="/images/mission.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="CONTACT US"
        link="/contact"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>

    <div class="flex-1">

        <p class="text-[#85cd32] font-urbaneRounded-medium mb-8">
            RENEWABLE CLEANING COMMITMENT, HUNTINGTON BEACH, CA
          </p>
          <h3 class="font-degular-semibold text-4xl md:text-5xl max-w-[700px]  text-[#1d6292]  mb-8">MISSION, VALUES, AND COMMITMENT</h3>
          <p class="font-degular-semibold max-w-[480px]  text-xl mb-8 leading-relaxed">Our Core Beliefs and Promises: An In-Depth Look at Eco Clean’s Mission, Values, and Steadfast Commitment to Quality Service, Underpinning Our Ethos of Responsibility and Excellence in Cleaning</p>
            <p class="font-urbaneRounded-medium  max-w-[500px]">Our mission at Eco Clean is simple yet profound: "We can’t clean up your past, but we can provide a cleaner future." This philosophy is at the core of everything we do, guiding our commitment to delivering professional, high-quality, and eco-friendly cleaning experiences. Our values of sustainability, customer satisfaction, and excellence drive our operations and service delivery, ensuring that we not only meet but exceed the expectations of our clients.
<br/>
<br/>
                At Eco Clean, we’re more than just a cleaning company; we’re a team dedicated to making a difference in every space we touch and every community we serve. With our combined expertise, commitment to quality, and passion for eco-friendly practices, we strive to bring out the best in your spaces, ensuring they shine and thrive for years to come.</p>
    </div>
    
  </section>

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5]" >
    <p class="text-[#85cd32] font-urbaneRounded-medium mb-6" data-aos="fade-right" data-aos-duration="600">
        ENVIRONMENTALLY SAFE CLEANING VALUES, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1d6292] font-degular-semibold mb-8" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">TEAM INFORMATION AND CREDENTIALS</h2>
    <p class="font-urbaneRounded-medium mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        Introducing the Eco Clean Family: The Driving Force Behind Our Cleaning Excellence and Unyielding Dedication, Embodied in Every Service and Customer Interaction
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between items-center">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100'>

        <Card
          image="/images/brian-about.png"
          title="Brian Giannone" classes="pb-5"
          description=""
        ><a class="text-lg font-urbaneRounded-medium underline underline-offset-2">Get to Know Brian</a></Card>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200'>
     

        <Card 
          image="/images/dustin-about.png"
          title="Dustin Dahlen" classes="pb-5"
          description=""
        ><a class="text-lg font-urbaneRounded-medium underline underline-offset-2">Get to Know Dustin</a></Card>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300'>


        <Card 
          image="/images/kyle-about.png"
          title="Kyle Cook" classes="pb-5"
          description=""
        ><a class="text-lg font-urbaneRounded-medium underline underline-offset-2 pb-3">Get to Know Kyle</a></Card>
      </div>
    </div>
  </section>

  <div class="bg-[url('/images/bg-pattern-1.jpg')] w-full   bg-fixed bg-cover bg-center bg-no-repeat lg:-mt-32">
    <section
    class="space-y-8 md:px-20 lg:px-44 px-8  pb-16 pt-16 md:pt-28 text-center text-white  "
  >
    <div class="p-4 md:p-8 text-center flex flex-col items-center ">
      <p class="font-urbaneRounded-medium mb-6">BIODEGRADABLE SERVICE PHILOSOPHY, HUNTINGTON BEACH, CA</p>
      <h2 class="text-4xl md:text-6xl  font-degular-semibold max-w-[1200px] text-center md:leading-[4rem] mb-8">
        JOIN THE ECO CLEAN REVOLUTION:<br/>
CLEANLINESS MEETS SUSTAINABILITY
      </h2>
      <p class="font-urbaneRounded-medium">
        Discover the power of green cleaning with Eco Clean and make a positive impact on your environment now. Our expert team is ready to deliver top-notch, sustainable cleaning solutions that will refresh and revitalize your space. Don’t wait to enjoy a cleaner, healthier, and more sustainable environment. Connect with us today and take the first step towards a cleaner, greener home or office.
      </p>
    </div>
    <div class="w-full flex justify-center items-center ">
      <Button
        text="REQUEST A QUOTE"
        link="/contact"
        classes="text-white border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
      />
    </div>
  </section>
  </div>



  <!-- FAQ Section -->
  <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#85cd32] font-urbaneRounded-medium mb-4">SUSTAINABLE QUALITY PROMISE, HUNTINGTON BEACH, CA </p>
      <h2 class=" text-[#1d6292] font-degular-semibold text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-medium max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
      <FAQ
        question="How does Eco Clean ensure its services are eco-friendly?"
        answer="Eco Clean prioritizes the use of environmentally safe cleaning products and practices. We continually research and implement green technologies and methods to ensure our services are sustainable, reducing the impact on our planet while maintaining high-quality results."
      />
      <FAQ
        question="What sets Eco Clean apart from other cleaning companies?"
        answer="Eco Clean stands out through our commitment to environmental stewardship, community engagement, and delivering exceptional service quality. Our team’s expertise and dedication to eco-friendly practices ensure that every cleaning service we provide is both effective and responsible."
      />
      <FAQ
        question="Can Eco Clean provide services for large commercial properties?"
        answer="Yes, Eco Clean has the capacity and expertise to handle cleaning projects of all sizes, including large commercial properties. We tailor our services to meet the specific needs of each client, ensuring efficient and thorough cleaning regardless of the property size."
      />
      <FAQ
        question="How can I get a quote for Eco Clean’s services?"
        answer="You can request a quote by contacting us through our website, phone, or email. We will discuss your cleaning needs, assess your property as necessary, and provide a detailed quote based on the scope of work required."
      />
    </div>
  </section>


  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
