---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh] bg-[url('/images/bg.jpg')] bg-cover bg-no-repeat flex flex-wrap items-start"  style="background-image: url('/images/faq-bg.png');"
  >
    <Nav />
   

        <div data-aos="fade-up" data-aos-duration="800"
          class="md:px-20  px-4 flex flex-col  w-full flex-1 items-center justify-center tracking-widest "
        >
            <h1 class="font-urbaneRounded-medium text-center text-5xl md:text-7xl   text-[#89d232] mb-1">
                FREQUENTLY ASKED QUESTIONS
            </h1>
            <p class="font-urbaneRounded-light text-center text-2xl md:text-3xl max-w-[650px] grid text-white my-6 leading-10 uppercase">
                Understanding Eco Clean's Services
            </p>
        </div>
  </main>

  <section class="pb-10 px-10 mt-20 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0" data-aos="fade-right" data-aos-duration="800" data-aos-delay="50">
        <img src="/images/faq-2.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="CONTACT US"
        link="/contact"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>
    <div class="flex-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="50">

        <p class="text-[#89D232] font-urbaneRounded-light mb-8">
            ECO-FRIENDLY CLEANING SUPPORT, HUNTINGTON BEACH, CA
          </p>
          <h3 class="font-degular-medium text-4xl md:text-6xl max-w-[460px]  text-[#1d6292]   mb-8">GET TO KNOW
            ECO CLEAN
          </h3>
          <p class="font-degular-semibold max-w-[700px]  text-xl mb-8 ">Comprehensive Insights into Eco Clean: Your Ultimate Guide to Understanding Our Services, Practices, and Customer-Centric Approach, Offering an In-Depth Exploration of Our Commitment to Excellence and Sustainability in Cleaning
          </p>
            <p class="font-urbaneRounded-medium  max-w-[700px]">
                At Eco Clean, our foundation is built on the pillars of transparency and open communication. We aim to provide clear, comprehensive information to demystify the cleaning process and empower you with knowledge about our eco-friendly practices. Our FAQs are designed to bridge any gaps in understanding and to provide you with a clear picture of how we operate, ensuring you are well-informed about the various aspects of our cleaning services. Whether you are curious about the specifics of our cleaning methods, the eco-friendly products we use, or how we tailor our services to meet individual needs, we are here to provide those answers. This comprehensive guide reflects our commitment to customer satisfaction and our dedication to maintaining open lines of communication with our valued clients, helping to foster a trusting and long-lasting relationship.
        </p>
    </div>
  </section>

  <!-- FAQ Section -->
  <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#89D232] font-urbaneRounded-light mb-4">RENEWABLE FURNITURE CLEANING, HUNTINGTON BEACH, CA </p>
      <h2 class=" text-[#1d6292] font-degular-medium text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-medium max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
        <FAQ
        question="What types of cleaning services does Eco Clean offer?"
        answer="Eco Clean provides a comprehensive range of cleaning services, including residential and commercial carpet cleaning, furniture and upholstery cleaning, power washing, dumpster cleaning, industrial floor cleaning, and sidewalk and street cleaning. We use eco-friendly methods tailored to each service's specific needs."
      />
      <FAQ
        question="How do you determine pricing for your cleaning services?"
        answer="Our pricing is based on several factors, including the size of the area to be cleaned, the type of service required, and the specific cleaning methods used. We strive to provide competitive and transparent pricing and will offer a detailed quote following an assessment of your cleaning needs."
      />
      <FAQ
        question="How can I schedule a cleaning service with Eco Clean?"
        answer="Scheduling a service with Eco Clean is easy! You can contact us via our website, phone, or email to discuss your cleaning requirements. Our team will then work with you to determine the best time and date for your cleaning session, accommodating your schedule as much as possible."
      />
      <FAQ
        question="Do you offer eco-friendly cleaning options for all services?"
        answer="Yes, at Eco Clean, sustainability is at the core of our business. We offer eco-friendly cleaning options for all our services, utilizing environmentally safe products and methods to ensure effective and responsible cleaning."
      />
      <FAQ
        question="How long does a typical cleaning session take?"
        answer="The duration of a cleaning session varies depending on the service and the size of the area. We aim to complete our cleaning efficiently without compromising on quality. Our team can provide an estimated time frame once the details of the job are discussed."
      />
      <FAQ
        question="Do you provide emergency cleaning services?"
        answer="Yes, Eco Clean understands the need for urgent cleaning situations and offers emergency services based on availability. Contact us to discuss your immediate cleaning needs, and we will do our best to accommodate you promptly."
      />
      <FAQ
        question="Is there a guarantee for your cleaning services?"
        answer="Absolutely, Eco Clean stands behind the quality of our work with a satisfaction guarantee. If you're not completely satisfied with our cleaning service, please contact us to discuss how we can make it right."
      />
      <FAQ
        question="Can Eco Clean handle special requests or areas with specific cleaning needs?"
        answer="Yes, we are equipped to handle special requests and areas with unique cleaning requirements. During our initial assessment, we discuss any specific concerns or needs you may have, allowing us to customize our cleaning approach accordingly. Whether it’s dealing with delicate materials, hard-to-reach areas, or specific stains, Eco Clean has the expertise to meet your needs."
      />
      <FAQ
        question="Are your cleaning products safe for pets and children?"
        answer="Absolutely. The safety and health of your family and pets are paramount to us. All the cleaning products we use are eco-friendly, non-toxic, and safe for both pets and children. We ensure that our cleaning methods provide a thorough clean without compromising the well-being of your loved ones."
      />
      <FAQ
        question="How far in advance do I need to schedule a cleaning service?"
        answer="We recommend scheduling as far in advance as possible to ensure your preferred date and time are available. However, we understand that unexpected needs can arise, and we strive to accommodate last-minute requests when our schedule permits. For regular cleaning services, setting up a consistent schedule can ensure consistent cleanliness and convenience."
      />
      <FAQ
        question="Does Eco Clean offer any packages or discounts for recurring services?"
        answer="Yes, we offer various packages and discounts for clients who choose to engage in recurring cleaning services. We believe in building long-term relationships with our clients and offer tailored packages that provide value and maintain the high standard of cleanliness you expect."
      />
      <FAQ
        question="What is the best way to prepare for a cleaning service visit from Eco Clean?"
        answer="To prepare for a visit, we suggest clearing any personal items or valuables from the areas to be cleaned, ensuring our team can work efficiently and effectively. However, extensive preparation is not necessary; we’ll handle the heavy lifting and cleaning. If specific preparations are needed for your service, we’ll provide detailed instructions beforehand to ensure a smooth and successful cleaning experience."
      />
    
    </div>
  </section>
  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
