---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh] min-h-[70vh]  md:max-h-[auto] bg-[url('/images/about-bg.jpg')]  bg-no-repeat bg-[length:76%_100%] flex md:flex-wrap flex-col md:flex-row items-start"
  >
    <Nav />
   

        <div data-aos="fade-right" data-aos-duration="800"
          class="md:px-20 lg:px-44 px-4 flex flex-col md:w-1/2 w-full flex-1 justify-center tracking-widest lg:pt-20 order-3 md:order-1"
        >
          <div class="">
            <h1 class="font-urbaneRounded-medium md:text-7xl text-4xl grid  text-[#268dcb] my-2">
              OUR SERVICES
            </h1>
            <p class="font-urbaneRounded-medium text-2xl md:text-3xl max-w-[500px] grid text-[#85cc32] my-6 leading-10 uppercase">
                Eco Clean: Your Partner in 
Sustainable Cleaning Solutions


            </p>
          </div>
        
        </div>
        <div class="flex-1 order-2 md:pr-16 lg:pr-40">

            <div class="md:w-[100%] h-[60%] mb-3 md:mb-10">
                <img class="w-full" src="/images/services-hero.png" />
            </div>
        </div>
   
  </main>

  <section class="pt-10 pb-8 px-8 md:pt-28 md:pb-20 md:px-20 lg:px-44 flex flex-col-reverse md:flex-row gap-4">
    <div class="flex-1 mt-5 md:mt-0">

        <p class="text-[#85cd32] font-urbaneRounded-medium mb-10">
            CLEANING SERVICES OFFERED, HUNTINGTON BEACH, CA
          </p>
          <h3 class="font-degular-semibold text-4xl md:text-5xl max-w-[700px]  text-[#1d6292]  mb-10">COMPREHENSIVE CLEANING WITH A CONSCIENCE</h3>
          <p class="font-degular-semibold max-w-[460px]  text-xl mb-10">Meticulously Crafting a Bespoke Cleaning Experience, Thoughtfully Aligned with the Unique Dynamics of Your Space, Reflecting Our Commitment to Personalized Service and Environmental Care</p>
            <p class="font-urbaneRounded-medium  max-w-[520px]">At Eco Clean, we take pride in offering a comprehensive range of cleaning services designed to meet the unique needs of both residential and commercial clients. Our commitment to sustainability and excellence drives us to deliver not just cleanliness, but a healthier, more environmentally friendly space for you and your community.</p>
    </div>
    <div class="flex-1 flex flex-col gap-8 md:gap-14">
        <img src="/images/services-2.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="ABOUT US"
        link="/about"
        classes="md:self-end text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>
  </section>
  

  <section class=" md:px-20 lg:px-44 px-8 py-16 bg-[#EEFAF5]" >
    <p class="text-[#85cd32] font-urbaneRounded-medium" data-aos="fade-right" data-aos-duration="600">
        ECO-FRIENDLY CLEANING OPTIONS, HUNTINGTON BEACH, CA
    </p>
    <h2 class="text-4xl md:text-6xl text-[#1d6292] font-degular-semibold mb-2" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">SERVICES</h2>
    <p class="font-urbaneRounded-medium mb-16" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        Showcasing Our Cleaning Mastery: Detailed Precision in Every Task Elevates Your Space with Unmatched Expertise That Distinguishes Us in the Market, Ensuring Unrivaled Quality and Service
    </p>

    <div class="grid md:grid-cols-3 grid-cols-1 gap-8 justify-between ">
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='100' class="min-h-[100%]" >
        <a href="/services/carpet-cleaning">

        <Card classes="min-h-[100%]"
          image="/images/services-carpet.png"
          title="Carpet Cleaning"
          description="Experience the deep clean of Eco Clean’s carpet service, where we use eco-friendly methods to remove dirt, allergens, and stains, revitalizing your carpets and enhancing your indoor air quality. Our thorough process not only cleans but also prolongs the life of your carpets, ensuring lasting comfort and beauty. Specialized equipment and techniques allow us to penetrate deep into the fibers, extracting hidden dirt and allergens that traditional methods might miss, while our eco-friendly solutions leave your carpets safe for pets and children."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='200' class="min-h-[100%]" >
     
        <a href="/services/sofa-cleaning">

        <Card classes="min-h-[100%]"
          image="/images/services-sofa.png"
          title="Sofa Cleaning"
          description="Keep your sofa fresh, clean, and free of pollutants with our specialized furniture cleaning services, ensuring your furnishings look and feel great while being gentle on the environment. We treat every piece of furniture with care, targeting spots and wear to restore its original luster. Our fabric-friendly approach adjusts to the unique material of each item, ensuring thorough cleaning without risking damage, and our protective treatments help extend the life and appearance of your furniture."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >

        <a href="/services/power-washing">

        <Card classes="min-h-[100%]"
          image="/images/services-power.png"
          title="Power Washing"
          description="Our power washing services effectively remove built-up grime and dirt from exterior surfaces, revitalizing the appearance of your property with minimal environmental impact. This service is ideal for restoring the look of your buildings, driveways, and patios, making them look new again. We use eco-friendly cleaning solutions in conjunction with high-pressure water jets to strip away years of dirt and weathering, revealing the underlying beauty while ensuring the structural integrity of the surfaces."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >

        <a href="/services/dumpster-cleaning">

        <Card classes="min-h-[100%]"
          image="/images/services-dumpster.png"
          title="Dumpster Cleaning"
          description="Maintain a hygienic and odor-free environment with our dumpster cleaning services, reducing pests and promoting better sanitation around your premises. Regular cleaning of dumpsters prevents pest infestations and eliminates harmful bacteria and unpleasant smells. Our comprehensive approach not only cleans but also disinfects and deodorizes, providing a thorough solution that tackles both the visible and invisible issues, ensuring your waste management areas are both clean and compliant with health standards."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >

        <a href="/services/industrial-floor-cleaning">

        <Card classes="min-h-[100%]"
          image="/images/services-floor.png"
          title="Industrial Floor Cleaning"
          description="Our industrial floor cleaning services are designed to tackle the tough conditions of manufacturing plants, warehouses, and other industrial settings. Using sustainable methods and robust cleaning solutions, we effectively remove oil, grease, and industrial residue, enhancing the safety and appearance of your floors. Our skilled technicians operate state-of-the-art machinery to deeply cleanse and protect your flooring, ensuring it can withstand the rigors of industrial activity and maintain its integrity over time. With our specialized approach, we not only clean but also contribute to the longevity and performance of your industrial floors."
        />
        </a>
      </div>
      <div  data-aos="fade-up" data-aos-duration="800" data-aos-delay='300' class="min-h-[100%]" >
        <a href="/services/sidewalk-streets-cleaning">


        <Card classes="min-h-[100%]"
          image="/images/services-concrete.png"
          title="Sidewalk & Concrete Cleaning"
          description="Enhance the curb appeal of your property with our sidewalk and concrete cleaning services, removing stains and buildup safely and effectively. Our techniques not only clean but also protect your outdoor areas, preventing long-term wear and tear from the elements. With the use of eco-friendly cleaning agents and professional-grade equipment, we ensure thorough removal of contaminants and stains, boosting the aesthetic and structural integrity of your walkways and concrete surfaces."
        />
        </a>
      </div>
    </div>
  </section>

  <section
  class="md:px-20 lg:px-44 px-8 md:pt-36 md:pb-28 pt-16 pb-12 text-white text-center bg-[url('/images/bg-pattern-2.jpg')] bg-cover bg-no-repeat md:-translate-y-32 relative z-0"
>
  
  <h2 data-aos="fade-up" data-aos-duration="800" data-aos-delay="50" class="text-4xl md:text-6xl  font-degular-semibold mb-7">CONNECT WITH ECO CLEAN TODAY</h2>
  <div class="w-full flex justify-center items-center ">
    <Button
      text="REQUEST A QUOTE"
      link="quote"
      classes="text-white py-3 px-11 border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
    />
  </div>
</section>

<section class="pb-10 px-10 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col gap-14 mt-6 md:mt-0">
        <img src="/images/choose.png" class="w-full" />
        <Button data-aos="fade-up" data-aos-duration="800" data-aos-delay="20"
        text="CONTACT US"
        link="/services"
        classes="self-start text-[#1d6292] text-xl px-11 py-3 border-[#1d6292] font-urbaneRounded-medium  transition-all duration-300 hover:bg-primary hover:text-white hover:border-primary"
      />
    </div>

    <div class="flex-1">

        <p class="text-[#85cd32] font-urbaneRounded-medium mb-8">
            GREEN CLEANING SERVICES, HUNTINGTON BEACH, CA
          </p>
          <h3 class="font-degular-semibold text-[2rem] text-4xl md:text-5xl max-w-[560px]  text-[#1d6292]  mb-8">CHOOSE ECO CLEAN FOR A CLEANER, GREENER FUTURE

          </h3>
          <p class="font-degular-semibold max-w-[500px]  text-xl mb-8 ">Navigate Towards a Cleaner, Greener Tomorrow: Embracing Sustainable Practices to Forge a Future Where Cleanliness and Environmental Responsibility Coexist, Pioneering Eco-Friendly Innovations in Cleaning</p>
            <p class="font-urbaneRounded-medium  max-w-[520px]">
                We understand the importance of maintaining a clean and healthy environment, and our services are designed to achieve just that. With Eco Clean, you can expect a partnership that values your satisfaction and the planet’s well-being equally. Our approach goes beyond the surface, addressing the health of your environment and the ecosystem. We meticulously select eco-friendly cleaning agents and employ methods that reduce waste and conserve resources, ensuring every clean contributes to a healthier planet.
<br/>
<br/>
Our dedicated team is not just skilled in cleaning; they are trained in eco-conscious practices, ensuring every task, from the simplest to the most complex, is performed with the utmost respect for the environment. Whether it’s a cozy home or a bustling commercial space, we bring the same level of care and attention to detail, guaranteeing a spotless and sustainable outcome.
<br/>
<br/>

Let us help you create a cleaner, brighter, and more sustainable space with our comprehensive cleaning services. Embracing Eco Clean means investing in the health of your environment and contributing to a more sustainable world. Join us in our mission for a cleaner, greener world. Connect with Eco Clean today and step into a new era of cleaning services tailored just for you, where your satisfaction shines as brightly as your freshly cleaned space.
            </p>
    </div>
    
  </section>


  <div class="bg-[url('/images/bg-pattern-1.jpg')] w-full   bg-fixed bg-cover bg-center bg-no-repeat ">
    <section
    class="space-y-8 md:px-20 lg:px-44 px-8   pb-16 pt-16 md:pt-28 text-center text-white  "
  >
    <div class="p-4 md:p-8 text-center flex flex-col items-center ">
      <p class="font-urbaneRounded-medium mb-6">RESIDENTIAL CLEANING SERVICES, HUNTINGTON BEACH, CA</p>
      <h2 class="text-4xl md:text-6xl  font-degular-semibold max-w-[800px] text-center md:leading-[4rem] mb-8">
        EMBRACE A SPOTLESS, SUSTAINABLE
        LIFESTYLE WITH ECO CLEAN
      </h2>
      <p class="font-urbaneRounded-medium max-w-[1100px]">
        Join the Eco Clean family and revolutionize the way you clean. Our comprehensive, eco-friendly services are designed to provide superior cleanliness while protecting our planet. Whether you need residential or commercial cleaning, we are here to deliver exceptional results with an environmentally conscious approach. Make the smart choice for your space and the environment. Contact Eco Clean today and let us show you the difference we can make.
      </p>
    </div>
    <div class="w-full flex justify-center items-center ">
      <Button
        text="REQUEST A QUOTE"
        link="quote"
        classes="text-white border-white font-urbaneRounded-medium transition-all duration-300 hover:bg-white hover:text-primary hover:border-white"
      />
    </div>
  </section>
  </div>



  <!-- FAQ Section -->
  <section id='faq' class=" md:px-20 lg:px-44 px-8  py-16 text-center bg-[#EEFAF5] ">
    <div class="flex items-center flex-col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="120">
      <p class="text-[#85cd32] font-urbaneRounded-medium mb-4">NON-TOXIC CLEANING SERVICES, HUNTINGTON BEACH, Ca </p>
      <h2 class=" text-[#1d6292] font-degular-semibold text-4xl md:text-6xl mb-6">FAQS</h2>
      <p class="font-urbaneRounded-medium max-w-[1000px] text-center mb-16">
        Diving Deep to Address Your Queries: Providing Comprehensive Clarity and Demonstrating Our Expertise with Detailed, Insightful Answers to Foster Understanding and Trust in Our Exceptional Cleaning Services
      </p>
    </div>
    <div class="text-left flex flex-col gap-2">
      <FAQ
        question="How does Eco Clean ensure its cleaning practices are eco-friendly?"
        answer="Eco Clean commits to sustainability by using environmentally safe cleaning products, employing energy-efficient methods, and adhering to waste-reduction practices. We continuously research and implement the latest green cleaning technologies to ensure our services are both effective and eco-conscious."
      />
      <FAQ
        question="Can Eco Clean handle specialized cleaning requests, like allergy-sensitive environments?"
        answer="Yes, we are well-equipped to manage specialized cleaning needs, including allergy-sensitive environments. Our team uses hypoallergenic and non-toxic cleaning agents to ensure a safe, clean space for everyone, particularly those with allergies or sensitivities."
      />
      <FAQ
        question="What is the process for scheduling a cleaning service with Eco Clean?"
        answer="Scheduling with Eco Clean is simple and convenient. You can contact us via our website, phone, or email to discuss your cleaning needs. We will then provide a tailored service plan and schedule a cleaning session that suits your timeline and preferences."
      />
      <FAQ
        question="Does Eco Clean offer any guarantee for its cleaning services?"
        answer="Absolutely! We stand behind the quality of our work with a satisfaction guarantee. If you’re not completely happy with our cleaning services, let us know, and we will make it right. Our priority is your satisfaction and building a long-term relationship with our clients."
      />
    
    </div>
  </section>


  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
