---
interface Props {
    image?: string;
    title: string;
    description: string;
}

const {image, title, description} = Astro.props as Props;
---

<div class="space-y-4 bg-white relative z-10 ">
    <img src={image} alt={title} class="h-4/5"/>
    <div class="p-6 space-y-6">
        <h2 class="text-3xl text-[#1d6292] font-degular-semibold">{title}</h2>
        <p class="font-urbaneRounded-medium">{description}</p>
        <slot/>
    </div>
</div>
