---
import { twMerge } from 'tailwind-merge'

interface Props {
    image?: string;
    title: string;
    description: string;
    classes?:string;
}

const {image, title, description,classes} = Astro.props as Props;
---
<style>
    .card:hover{
     
        background-image: linear-gradient(to bottom right,#28a1da,#2575ba);
    }
    .card:hover p,
    .card:hover h2{
        color:white;
    }
</style>
<div class={twMerge("space-y-4 cursor-pointer bg-white relative z-10 card",classes)}>
    <img src={image} alt={title} class="h-[55%] w-full object-cover"/>
    <div class="p-6 space-y-6">
        <h2 class="text-3xl md:text-4xl text-[#1d6292] font-degular-medium">{title}</h2>
        <p class="font-urbaneRounded-light text-lg">{description}</p>
        <slot/>
    </div>
</div>
