<footer class="bg-[#308ed0] text-white ">
    <div class="grid md:grid-cols-4 grid-cols-1 gap-16">

        <div class="space-y-4">
            <a href="/contact" >

                <h4 class="text-[2.2rem] font-degular-medium">CONTACT US</h4>
            </a>
            <a href="tel:949915550" class="block  font-degular hover:underline underline-offset-2">(949) 915-5500</a>
            <p class=" font-degular flex flex-col">
                <span>Monday Thu 8-5</span>
                <span>Friday 8-12</span>
                <span>Saturday Closed</span>
                <span>Sunday Closed</span>
            </p>
            <br/>
            <a  href="https://maps.app.goo.gl/yc5jMkxFT5sGfs4P8" target="_blank" class=' font-degular hover:underline underline-offset-2'>1120 Pacific Coast Highway Ste E Huntington Beach CA, 92648</a>
        </div>
        <div class="space-y-4 ">
            <a href="/services">
            <h4 class="text-[2.2rem]  font-degular-medium">SERVICES</h4>
            </a>
            <div class="space-y-2 flex flex-col">
            <a href="/services/power-washing" class="hover:underline underline-offset-2 tracking-tight  font-degular">POWER WASHING SERVICE</a>
            <a href="/services/carpet-cleaning" class="hover:underline underline-offset-2 tracking-tight  font-degular">CARPET CLEANING SERVICE</a>
            <a href="/services/sofa-cleaning" class="hover:underline underline-offset-2 tracking-tight  font-degular">SOFA CLEANING SERVICE</a>
            <a href="/services/industrial-floor-cleaning" class="hover:underline underline-offset-2 tracking-tight  font-degular">INDUSTRIAL FLOOR CLEANING SERVICE</a>
            <a href="/services/dumpster-cleaning" class="hover:underline underline-offset-2 tracking-tight  font-degular">DUMPSTER CLEANING SERVICE</a>
            <a href="/services/sidewalk-streets-cleaning" class="hover:underline underline-offset-2 tracking-tight  font-degular">SIDEWALK STREETS CLEANING SERVICE</a>
        </div>
        </div>

        <div class="space-y-4">
            <h4 class="text-[2.2rem]  font-degular-medium">FOLLOW US</h4>
            <div class="flex flex-row gap-4">
                <a href="https://www.instagram.com/ecocleanpcs/" target="_blank" class="block">
                    <svg class="w-10 h-10 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                    </svg>
                </a>
                <a href="https://www.facebook.com/ecocleanpcs" target="_blank" class="block">
                    <svg class="w-10 h-10 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h98.2V334.2H109.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H255V480H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/>
                    </svg>
                </a>
                <a href="https://twitter.com/ecocleanpcs" target="_blank" class="block">
                    <svg class="w-10 h-10 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/>
                    </svg>
                </a>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.8152291308934!2d-118.0080896!3d33.661949199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd215adcca9057%3A0xdecc6f2e13a27325!2s1120%20CA-1%20%23%20E%2C%20Huntington%20Beach%2C%20CA%2092648%2C%20USA!5e0!3m2!1sen!2s!4v1718007150782!5m2!1sen!2s"  style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- <img src="/images/map.jpg" alt="Location of Eco Clean On Map" class="w-full"/> -->
    </div>
    <p class="mt-14 w-full text-center mb-3 text-lg font-degular-medium">© 2024 Eco Clean. All rights reserved. Privacy Policy | Terms of Use</p>
</footer>