---
import Button from "./Button.astro";
interface NavItem {
    title: string;
    url: string;
    children?:NavItem[]
}

const navItems: NavItem[] = [
{title: "SERVICES", url: "/services",children:[
    {title:"SERVICES",url:"/services"},
    {title:"POWER WASHING SERVICE",url:"/services/power-washing"},
    {title:"CARPET CLEANING SERVICE",url:"/services/carpet-cleaning"},
    {title:"SOFA CLEANING SERVICE",url:"/services/sofa-cleaning"},
]},
    {title: "ABOUT US", url: "/about"},
    {title: "CONTACT US", url: "/contact"},
    {title: "FAQ", url: "/faqs"},
    {title: "BLOGS", url: "/blogs"},
    {title: "REQUEST A QUOTE", url: "/quote"}
];
---
<style>
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
    }
    .nav-toggle .line {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px auto;
        transition: all 0.3s;
    }
    .nav-toggle.rotate .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .nav-toggle.rotate .line2 {
        opacity: 0;
    }
    .nav-toggle.rotate .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    #navItems {
        transition: transform 0.3s ease-in-out;
    }
    #navItems.hidden {
        transform: translateY(-100%);
    }

    /* media query to not translate the navItems in large screens */
    @media (min-width: 768px) {
        #navItems.hidden {
            transform: translateY(0);
        }
    }
    #navItems.overlay {
        position: fixed;
        top: 20;
        left: 0;
        width: 100%;
        background-color: black ;/* Black background with opacity */
        z-index: 100;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Full viewport height */
        padding-top: 20px; /* Optional: for better spacing */
        box-sizing: border-box;
    }
    /* --------------- */

    ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


</style>

<nav class="md:px-10 lg:px-16 py-6 lg:py-8 flex md:flex-row flex-col md:items-center md:justify-between w-full">
    <div class="flex justify-between">
        <a href="/">

            <img src="/images/logo.png" alt="Eco Clean Logo" class="h-12 md:h-20"/>
        </a>
        <button id="toggleButton" class="hamburger md:hidden z-[1000]">
            <div class="nav-toggle">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </button>
    </div>
    <div id="navItems" class="hidden md:flex flex-row items-center gap-2 text-[#87cf32] w-full justify-end">
        <ul class="flex md:flex-row flex-col gap-2 list-none">
            {navItems.map((item) => (
                <li class="mx-4 transition-all duration-300 hover:text-white relative">
                    <a href={item.url} class="text-lg text-nowrap font-degular-medium">{item.title}</a>
                    {
                        item.children && item.children.length?
                        <ul class="dropdown invisible opacity-0 absolute transition-all duration-[0.5s] ease-[ease] hidden pt-1  pb-2 left-0 bg-white  min-w-[200px] rounded-sm">
                            {
                                item.children.map(subItem=>

                        <li class=" text-nowrap text-[#1e1e1e] hover:bg-[#268dcb] font-degular-medium uppercase hover:text-white cursor-pointer px-5 py-1">
                            <a  href={subItem.url}>
                            {subItem.title}
                            </a>
                            </li>
                                )
                            }
                      
                </ul>
                        
                        :null
                    }
                </li>
            ))}
        </ul>
        <Button text="IMMEDIATE BOOKING" link="null" classes="border-blue-800 font-degular-medium transition-all duration-300 hover:text-white hover:bg-primary hover:border-primary text-lg"></Button>
    </div>
    <div></div>
</nav>

<script>
    const toggleButton = document.getElementById('toggleButton');
    const navItems = document.getElementById('navItems');

    toggleButton?.addEventListener('click', () => {
        toggleButton?.firstElementChild?.classList.toggle('rotate');
        navItems?.classList.toggle('hidden');
        navItems?.classList.toggle('overlay'); // Toggle overlay class for mobile
    });

    

</script>
