---
import Base from "@layouts/Base.astro";
import Nav from "@components/Nav.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import BlogItem from "@components/BlogItem.astro";
import FAQ from "@components/Landing/FAQ.astro";
import Footer from "@components/Footer.astro";
import SearchSidebar from "@components/SearchSidebar.astro";
import BlogList from "@components/BlogList.astro";
import CategoryList from "@components/CategoryList.astro";
---

<Base
  title="Eco Clean Professional Service"
  description="Expertly Crafting Exceptional Spaces, Enriching Lives Through Thoughtful, Sustainable Transformation with Our Commitment to Eco-Friendly Practices and Community Enhancement"
  image="image/og-image.jpeg"
>
  <!-- Hero Section -->
  <main
    class="px-4 pb-4 space-y-2 md:h-[70vh] bg-[url('/images/bg.jpg')] bg-cover bg-no-repeat flex flex-wrap items-start"  style="background-image: url('/images/blog-bg.png');"
  >
    <Nav />
   

        <div data-aos="fade-up" data-aos-duration="800"
          class="md:px-20  px-4 flex flex-col  w-full flex-1 items-center justify-center tracking-widest "
        >
            <h1 class="font-urbaneRounded-medium text-center text-5xl md:text-7xl   text-[#89d232] mb-1">
                BLOGS
            </h1>
            <p class="font-urbaneRounded-light text-center text-2xl md:text-3xl max-w-[520px] grid text-white my-6 leading-10 uppercase">
                Read about our latest
                blogs and news
            </p>
        </div>
  </main>

  <section class="pb-10 px-10 mt-20 md:pb-28 md:px-20 lg:px-44 flex flex-col md:flex-row gap-8 xl:gap-24">
    <div class="  md:w-3/5 flex flex-col gap-20 ">
        
    <BlogItem title="The Benefits of Power Washing" description="Dive into the world of power washing and discover how it can transform your property's appearance, enhance its longevity, and contribute to a healthier environment." image="/images/blog-2.png" href="/" type="Power washing" />
        
    <BlogItem title="Green and Clean: Revolutionizing Cleaning Practices for a Sustainable Tomorrow" description="Explore the world of eco-friendly cleaning with our in-depth guide. Discover sustainable cleaning practices for both residential and commercial spaces." image="/images/blog-3.png" href="/" type="Eco-Friendly" />
    </div>
    <div class="flex flex-col justify-start gap-11">
        <SearchSidebar/>
        <BlogList/>
        <CategoryList/>
    </div>
   
  </section>

 
  <section class="space-y-8 md:px-20 lg:px-44 px-4 py-4 md:pt-16 bg-[#308ed0]"><Footer/></section>
  <!-- <Footer /> -->
</Base>
